In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_excel("fares.xlsx",parse_dates=["Date_of_Journey","Dep_Time"])
df.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      2019-03-24  Banglore  ...    non-stop         No info   3897
1    Air India      2019-01-05   Kolkata  ...     2 stops         No info   7662
2  Jet Airways      2019-09-06     Delhi  ...     2 stops         No info  13882
3       IndiGo      2019-12-05   Kolkata  ...      1 stop         No info   6218
4       IndiGo      2019-01-03  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

In [ ]:
df["Airline"].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [ ]:
df["Airline"].value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [ ]:
df.shape

(10683, 11)

In [ ]:
import re

In [ ]:
clr="2h 30m"
clr2=[]
clr1=clr.strip()
for w  in clr1:
 if w.isdigit():
   clr2.append(w)
clr2

['2', '3', '0']

In [ ]:
cl="2h 30m "
cl=cl.strip()
clw=re.findall(r"\d+",cl)
clw=[int(i) for i in clw]
clw[0]*60*60+clw[1]*60

9000

In [ ]:
df1=df.copy()

In [ ]:
def clean(x):
  a=x.strip()
  b=re.findall(r"\d+",a)
  c=[int(i) for i in b]
  if len(c)==2:
   d=c[0]*60*60+c[1]*60
  else:
   d=c[0]*60*60
  return d

In [ ]:
df1["Duration"]=df1.Duration.apply(lambda x:clean(x))
df1["Duration"].head()

0    10200
1    26700
2    68400
3    19500
4    17100
Name: Duration, dtype: int64

In [ ]:
df2=df1.copy()

In [ ]:
def create(cold):
  doj=cold[0]
  dept=cold[1]
  tot=doj+dt.timedelta(seconds=dept.hour*3600+dept.minute*60)
  return tot

In [ ]:
import datetime as dt

In [ ]:
df2.Dep_Time=df2[["Date_of_Journey","Dep_Time"]].apply(create,axis=1)

In [ ]:
df2.Dep_Time.head()

0   2019-03-24 22:20:00
1   2019-01-05 05:50:00
2   2019-09-06 09:25:00
3   2019-12-05 18:05:00
4   2019-01-03 16:50:00
Name: Dep_Time, dtype: datetime64[ns]

In [ ]:
df3=df2.copy()

In [ ]:
def addition(cols):
   dur=cols[0]+dt.timedelta(seconds=cols[1])
   return dur

In [ ]:
df3.Arrival_Time=df2[["Dep_Time","Duration"]].apply(addition,axis=1)
df3.Arrival_Time.head()

0   2019-03-25 01:10:00
1   2019-01-05 13:15:00
2   2019-09-07 04:25:00
3   2019-12-05 23:30:00
4   2019-01-03 21:35:00
Name: Arrival_Time, dtype: datetime64[ns]

In [ ]:
df3[["Dep_Time","Duration","Arrival_Time"]].head()

             Dep_Time  Duration        Arrival_Time
0 2019-03-24 22:20:00     10200 2019-03-25 01:10:00
1 2019-01-05 05:50:00     26700 2019-01-05 13:15:00
2 2019-09-06 09:25:00     68400 2019-09-07 04:25:00
3 2019-12-05 18:05:00     19500 2019-12-05 23:30:00
4 2019-01-03 16:50:00     17100 2019-01-03 21:35:00

In [ ]:
df4=df3.copy()

In [ ]:
def convert(seconds): 
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
      
    return "%d:%02d:%02d" % (hour, minutes, seconds) 
df4['Duration']=df4.Duration.apply(lambda x:convert(x))
df4.Duration.head()

0     2:50:00
1     7:25:00
2    19:00:00
3     5:25:00
4     4:45:00
Name: Duration, dtype: object

In [ ]:
df4.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      2019-03-24  Banglore  ...    non-stop         No info   3897
1    Air India      2019-01-05   Kolkata  ...     2 stops         No info   7662
2  Jet Airways      2019-09-06     Delhi  ...     2 stops         No info  13882
3       IndiGo      2019-12-05   Kolkata  ...      1 stop         No info   6218
4       IndiGo      2019-01-03  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

In [ ]:
df4.dtypes

Airline                    object
Date_of_Journey    datetime64[ns]
Source                     object
Destination                object
Route                      object
Dep_Time           datetime64[ns]
Arrival_Time       datetime64[ns]
Duration                   object
Total_Stops                object
Additional_Info            object
Price                       int64
dtype: object

In [ ]:
df4.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [ ]:
df4.dropna(axis=0,inplace=True)

In [ ]:
df4.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [ ]:
df4.drop("Additional_Info",axis=1,inplace=True)

In [ ]:
df4.head()

       Airline Date_of_Journey    Source  ...  Duration Total_Stops  Price
0       IndiGo      2019-03-24  Banglore  ...   2:50:00    non-stop   3897
1    Air India      2019-01-05   Kolkata  ...   7:25:00     2 stops   7662
2  Jet Airways      2019-09-06     Delhi  ...  19:00:00     2 stops  13882
3       IndiGo      2019-12-05   Kolkata  ...   5:25:00      1 stop   6218
4       IndiGo      2019-01-03  Banglore  ...   4:45:00      1 stop  13302

[5 rows x 10 columns]

In [ ]:
df4.rename(columns={"Duration":"Duration(h:m:s)"},inplace=True)
df4.columns[7]

'Duration(h:m:s)'

In [ ]:
df4["Total_Stops"].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [ ]:
df4["Source"].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [ ]:
df4["Total_Stops"].value_counts()

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

In [ ]:
df4.groupby("Source")[["Price"] ].median().sort_values("Price",ascending=False)

          Price
Source
Delhi     10262
Kolkata    9345
Banglore   6121
Chennai    3850
Mumbai     3342

In [ ]:
df4["Destination"].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [ ]:
df4.groupby("Destination")[["Price"] ].median().sort_values("Price",ascending=False)

               Price
Destination
New Delhi    10898.5
Cochin       10262.0
Banglore      9345.0
Delhi         4823.0
Kolkata       3850.0
Hyderabad     3342.0

In [ ]:
df4["Source"].value_counts()

Delhi       4536
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: Source, dtype: int64

In [ ]:
df4["Destination"].value_counts()

Cochin       4536
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64

In [ ]:
df5=df4.copy()

In [ ]:
df5.drop(["Date_of_Journey","Route"],axis=1,inplace=True)
df5.head()

       Airline    Source Destination  ... Duration(h:m:s) Total_Stops  Price
0       IndiGo  Banglore   New Delhi  ...         2:50:00    non-stop   3897
1    Air India   Kolkata    Banglore  ...         7:25:00     2 stops   7662
2  Jet Airways     Delhi      Cochin  ...        19:00:00     2 stops  13882
3       IndiGo   Kolkata    Banglore  ...         5:25:00      1 stop   6218
4       IndiGo  Banglore   New Delhi  ...         4:45:00      1 stop  13302

[5 rows x 8 columns]

In [ ]:
df5["Dep_hr"]=df5.Dep_Time.apply(lambda x:x.hour)
df5["Dep_hr"].head()

0    22
1     5
2     9
3    18
4    16
Name: Dep_hr, dtype: int64

In [ ]:
df5["Dep_min"]=df5.Dep_Time.apply(lambda x:x.minute)
df5["Dep_min"].head()

0    20
1    50
2    25
3     5
4    50
Name: Dep_min, dtype: int64

In [ ]:
df5["Arr_min"]=df5.Arrival_Time.apply(lambda x:x.minute)
df5["Arr_min"].head()

0    10
1    15
2    25
3    30
4    35
Name: Arr_min, dtype: int64

In [ ]:
df5["Arr_hr"]=df5.Arrival_Time.apply(lambda x:x.hour)
df5["Arr_hr"].head()

0     1
1    13
2     4
3    23
4    21
Name: Arr_hr, dtype: int64

In [ ]:
int(10200/3600)

2

In [ ]:
df5["Dur_hr"]=df2.Duration.apply(lambda x:int(x/3600))
df5["Dur_hr"].head()

0     2
1     7
2    19
3     5
4     4
Name: Dur_hr, dtype: int64

In [ ]:
df5["Dur_min"]=df2.Duration.apply(lambda x:(x-int(x/3600)*3600)/60)
df5["Dur_min"].head()

0    50.0
1    25.0
2     0.0
3    25.0
4    45.0
Name: Dur_min, dtype: float64

In [ ]:
df5["Dep_mon"]=df5.Dep_Time.apply(lambda x:x.month)
df5["Dep_mon"].head()

0     3
1     1
2     9
3    12
4     1
Name: Dep_mon, dtype: int64

In [ ]:
df5["Dep_day"]=df5.Dep_Time.apply(lambda x:x.day)
df5["Dep_day"].head()

0    24
1     5
2     6
3     5
4     3
Name: Dep_day, dtype: int64

In [ ]:
df5.head()

       Airline    Source Destination  ... Dur_min Dep_mon Dep_day
0       IndiGo  Banglore   New Delhi  ...    50.0       3      24
1    Air India   Kolkata    Banglore  ...    25.0       1       5
2  Jet Airways     Delhi      Cochin  ...     0.0       9       6
3       IndiGo   Kolkata    Banglore  ...    25.0      12       5
4       IndiGo  Banglore   New Delhi  ...    45.0       1       3

[5 rows x 16 columns]

In [ ]:
df6=df5.copy()

In [ ]:
for i in ["Airline","Source","Destination","Total_Stops"]:
  print(df6[i].value_counts())
  print("\n","\n")

Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64



Delhi       4536
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: Source, dtype: int64



Cochin       4536
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64



1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

In [ ]:
df6.drop(["Dep_Time","Arrival_Time","Duration(h:m:s)"],axis=1,inplace=True)

In [ ]:
df6.head()

       Airline    Source Destination  ... Dur_min  Dep_mon  Dep_day
0       IndiGo  Banglore   New Delhi  ...    50.0        3       24
1    Air India   Kolkata    Banglore  ...    25.0        1        5
2  Jet Airways     Delhi      Cochin  ...     0.0        9        6
3       IndiGo   Kolkata    Banglore  ...    25.0       12        5
4       IndiGo  Banglore   New Delhi  ...    45.0        1        3

[5 rows x 13 columns]

In [ ]:
df6 = df6[df6.Airline != 'Multiple carriers Premium economy']
df6 = df6[df6.Airline != 'Jet Airways Business']
df6 = df6[df6.Airline != 'Vistara Premium economy']
df6 = df6[df6.Airline != 'Trujet']

In [ ]:
df6=df6[df6.Total_Stops != '4 stops']

In [ ]:
df6.head()

       Airline    Source Destination  ... Dur_min  Dep_mon  Dep_day
0       IndiGo  Banglore   New Delhi  ...    50.0        3       24
1    Air India   Kolkata    Banglore  ...    25.0        1        5
2  Jet Airways     Delhi      Cochin  ...     0.0        9        6
3       IndiGo   Kolkata    Banglore  ...    25.0       12        5
4       IndiGo  Banglore   New Delhi  ...    45.0        1        3

[5 rows x 13 columns]

In [ ]:
df6.shape

(10658, 13)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [ ]:
df6["Airline"]=le.fit_transform(df6["Airline"])
df6["Airline"].head(10)

0    3
1    1
2    4
3    3
4    3
5    6
6    4
7    4
8    4
9    5
Name: Airline, dtype: int64

In [ ]:
for i in ["Source","Destination","Total_Stops"]:
  le1=LabelEncoder()
  df6[i]=le1.fit_transform(df6[i])

In [ ]:
df6.head()

   Airline  Source  Destination  Total_Stops  ...  Dur_hr  Dur_min  Dep_mon  Dep_day
0        3       0            5            3  ...       2     50.0        3       24
1        1       3            0            1  ...       7     25.0        1        5
2        4       2            1            1  ...      19      0.0        9        6
3        3       3            0            0  ...       5     25.0       12        5
4        3       0            5            0  ...       4     45.0        1        3

[5 rows x 13 columns]

In [ ]:
df6.to_excel("modif.xlsx",index=False)

In [ ]:
df7=df6.copy()

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [ ]:
for i in ["Dep_hr",	"Dep_min",	"Arr_min", "Arr_hr","Dur_hr","Dur_min","Dep_mon","Dep_day"]:
  df7[i]=sc.fit_transform(df7[[i]])

In [ ]:
df7.head()

   Airline  Source  Destination  ...   Dur_min   Dep_mon   Dep_day
0        3       0            5  ...  1.278441 -0.850484  1.285605
1        1       3            0  ... -0.196513 -1.519966 -0.872723
2        4       2            1  ... -1.671467  1.157963 -0.759127
3        3       3            0  ... -0.196513  2.162187 -0.872723
4        3       0            5  ...  0.983450 -1.519966 -1.099916

[5 rows x 13 columns]

In [ ]:
df8=df7.copy()

In [ ]:
y=df8[["Price"]]
y.head()

   Price
0   3897
1   7662
2  13882
3   6218
4  13302

In [ ]:
df8.drop("Price",inplace=True,axis=1)

In [ ]:
df8.head()

   Airline  Source  Destination  ...   Dur_min   Dep_mon   Dep_day
0        3       0            5  ...  1.278441 -0.850484  1.285605
1        1       3            0  ... -0.196513 -1.519966 -0.872723
2        4       2            1  ... -1.671467  1.157963 -0.759127
3        3       3            0  ... -0.196513  2.162187 -0.872723
4        3       0            5  ...  0.983450 -1.519966 -1.099916

[5 rows x 12 columns]

In [ ]:
x=df8

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
rf=RandomForestRegressor(n_estimators=160,min_samples_leaf=2,min_samples_split=3)

In [ ]:
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
rf.score(X_test,y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

0.8406933466174544

In [ ]:
df8.head()

   Airline  Source  Destination  ...   Dur_min   Dep_mon   Dep_day
0        3       0            5  ...  1.278441 -0.850484  1.285605
1        1       3            0  ... -0.196513 -1.519966 -0.872723
2        4       2            1  ... -1.671467  1.157963 -0.759127
3        3       3            0  ... -0.196513  2.162187 -0.872723
4        3       0            5  ...  0.983450 -1.519966 -1.099916

[5 rows x 12 columns]

In [ ]:
rf.score(X_train,y_train)

0.925422721517848

In [ ]:
from sklearn.linear_model import Ridge,LinearRegression,Lasso

In [ ]:
rr=Ridge()
rr.fit(X_train,y_train)
rr.score(X_test,y_test)

0.46583060817156674

In [ ]:
rl=Lasso()
rl.fit(X_train,y_train)
rl.score(X_test,y_test)

0.4658431749723531

In [ ]:
lr=LinearRegression()
lr.fit(X_train,y_train)
lr.score(X_test,y_test)

0.46583136321610563

In [ ]:
import xgboost as xgb

In [ ]:
xg=xgb.XGBRegressor()
xg.fit(X_train,y_train)
xg.score(X_test,y_test)

[14:16:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

0.7924563496241086

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor

In [ ]:
et=ExtraTreesRegressor()
et.fit(X_train,y_train)
print(et.score(X_test,y_test))
print(et.score(X_train,y_train))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.7932871084338331
0.9647778216048939

In [ ]:
df8.isna().sum()

Airline        0
Source         0
Destination    0
Total_Stops    0
Dep_hr         0
Dep_min        0
Arr_min        0
Arr_hr         0
Dur_hr         0
Dur_min        0
Dep_mon        0
Dep_day        0
dtype: int64

In [ ]:
df7.to_csv("modifared.csv",index=False)